body {
    font-family: 'Oswald', sans-serif;
    background-image: url('../img/pet3.jpg');
    background-size: cover; /* Cambia el tamaño de la imagen para cubrir completamente el contenedor */
    background-repeat: no-repeat;
    background-position: center center;
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.titulo {
    text-align: center;
    color: #007bff;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-atras {
    background-color: #971d1d;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.btn-atras:hover {
    background-color: #b47f8b;
}

button:hover {
    background-color: #218838;
}

#ultimaCompra {
    margin-top: 40px;
}

#ultimaCompra h2 {
    color: #007bff;
}

#ultimaCompra p {
    margin-bottom: 8px;
}

#ultimaCompra p strong {
    margin-right: 5px;
}

.alert {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}